@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    font-family: 'Inter', sans-serif;
    max-width: 100vw;
    min-width: 300px;
}

    /* MAIN STYLE */
#main-container{
    background-color: #ffffff;
    border-radius: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

    /* IMAGE STYLE */
.main-image{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #F5DBC4;
    height: auto;
}

.image{
    width: 60%;
}
    
    /* HEADER STYLE */
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #355B3E;
}

    /* Logo style */
.logo-title{
    display: flex;
    color: #ffffff;
    font-weight: 600;
    font-size: 32px;
    margin-left: 16px;
    letter-spacing: 0.10em;
}

    /* Service description style */
.desc{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 24px 0 24px;
    margin-top: 40px;
}
.description{
    display: flex;
    color: #355B3E;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
}

.desc-par{
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    margin-top: 16px;
    color:#58745E;
}

    /* FORM STYLE */
#form{
    width: 100%;
    padding: 40px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

    /* INPUT STYLES */
.space{
    font-size: 16px;
    color: #2F3D4C;
    font-weight: 600;
}

.input-column{
    display: flex;
    flex-direction: column;
}

.inp-style{
    margin-top: 5px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #B8D6BF;
    height: 40px;
    font-size: 15px;
    outline: none;
}

.input-and-icon{
    border: 1px solid #B8D6BF;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    margin-top: 5px;
    border-radius: 8px;
    padding-right: 16px;
}

.log{
    border: none;
    width: 100%;
}

.fa-eye-slash{
    cursor: pointer;
}

/* END */

    /* EXTRA CONTAINER STYLE */
.extra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.check-box{
    width: 13px;
    height: 13px;
    accent-color: #029664;
}

.check-txt{
    font-size: 16px;
    color: #355B3E;
}

.forg-pass{
    text-decoration: underline;
}

    /* END */

    /* BUTTONS STYLE */
.buttons-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
    
.login-style{
    background: #029664;
    color: #ffffff;
    border: none;
    border-radius: 8px;
}

.signup-style{
    border: 1px solid #029664;
    color: #029664;
    margin-bottom: 20px;
}

.but-clone{
    font-size: 16px;
    letter-spacing: 1px;
    width: 178px;
    height: 48px;
    border-radius: 8px;
    cursor: pointer;
}

    /* END */

    /* FOOTER SECTION STYLE */
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-txt{
    font-size: 14px;
    color: #58745E;
}

.acc-container{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.acc-container{
    font-size: 14px;
}

    /* END */

.left-side{
    width: 100%;
}

    /* display none right-side image */
.right-side{
    display: none;
}

a{
    color: #355B3E;
    font-style: normal;
    font-weight: normal;
}

@media only screen and (min-width: 1024px){
    body{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: #355B3E;
        overflow: hidden;
    }

    .left-side{
        width: 40%;
        height: 100%;
        padding: 20px 30px 40px 30px;
    }

    #main-container{
        flex-direction: row;
        justify-content: space-between;
        width: 1024px;
        height: 714px;
        box-shadow: 0px 72px 80px -48px #223A28;
    }

    .header{
        background-color: #ffffff;
        margin-left: 20px;
        width: 70%;
        height: 5%;
        margin-top: 40px;
        margin-bottom: 40px;
    } 

    /* description style */
    .desc h2{
        font-size: 24px;
    }

    .desc p{
        margin-top: 25px;
    }
    /* end */

    /* main image hide */
    .main-image{
        display: none;
    }
    /* end */

    /* logo color change */
    svg path{
        fill: #355B3E;
    }

    .logo-title{
        color: #355B3e;
    }
    /* end */

    .buttons-container{
        gap: 24px;
        margin-top: 20px;
    }

    .footer{
        width: 350px;
        margin-left: -20px;
        margin-top: 56px;
        flex-direction: row;
        font-size: 14px;
    }

    .acc-container{
        gap: 29px;
    }

    /* right side styles */
    .right-side{
       display: flex;
       justify-content: center;
       align-items: center;
       width: 60%;
       height: 100%;
       border-top-right-radius: 24px;
       border-bottom-right-radius: 24px;
       background-color: #F5DBC4;
    } 

    .image{
        width: 500px;
        height: 337px;
    }
}

    /* Design for desktop displays */
@media only screen and (min-width: 1300px) { 
    body{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: #355B3E;
        overflow: hidden;
    }

    .left-side{
        width: 40%;
        height: 100%;
        padding: 48px 64px 60px 64px;
    }

    #main-container{
        flex-direction: row;
        justify-content: space-between;
        width: 1296px;
        height: 714px;
        box-shadow: 0px 72px 80px -48px #223A28;
    }

    .header{
        background-color: #ffffff;
        align-items: center;
        width: 70%;
        height: 5%;
        margin-top: 40px;
        margin-bottom: 40px;
    } 

    /* description style */
    .desc h2{
        font-size: 24px;
    }

    .desc p{
        margin-top: 25px;
    }
    /* end */

    /* main image hide */
    .main-image{
        display: none;
    }
    /* end */

    /* logo color change */
    svg path{
        fill: #355B3E;
    }

    .logo-title{
        color: #355B3e;
    }
    /* end */

    .buttons-container{
        gap: 24px;
    }

    .footer{
        margin-top: 56px;
        flex-direction: row;
        font-size: 16px;
    }

    .acc-container{
        gap: 29px;
    }

    /* right side styles */
    .right-side{
       display: flex;
       justify-content: center;
       align-items: center;
       width: 60%;
       height: 100%;
       border-top-right-radius: 24px;
       border-bottom-right-radius: 24px;
       background-color: #F5DBC4;
    } 

    .image{
        width: 500px;
        height: 337px;
    }
    
}

/* END */